.sidebar{
    position:fixed;
    background-color:white;
    left:0;
    bottom:0;
    top:55px;
    width:72px;
    z-index:200;
    padding-top:5px;
}

.sidebar-link{
    height:74px;
    cursor:pointer;
    display:flex;
    flex-direction:column;
    justify-content:center;   /*vertical alignment*/
    align-items:center;      /*horizontal alignment*/
}

.sidebar-link:hover{
    background-color:rgb(235,235,235);
}

/* shortcut to target img inside sidebar-link :just space between them*/
.sidebar-link img{
    height:24px;
    margin-bottom:4px;
}

.sidebar-link div{
    font-family:Roboto,Arial;
    font-size:10px;
}